div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: lightblue;
    clear: left;
    text-align: center;
}

#datamap {
	float: middle;
	display: block;
    background-color: lightblue;
    position: relative;
    max-width: 50%;
    max-height: 25%;
}

#textblock {
	float: right;
}