div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: lightblue;
    clear: left;
    text-align: center;
}

footer {
    padding: 1em;
    color: white;
    background-color: lightblue;
    clear: left;
    text-align: center;
}

#datamap {
    float: middle;
    margin: 10px 10px 10px 0;
    display: block;
    background-color: lightblue;
    position: relative;
    width: 550px;
    height: 600px; /*waarom pakt hij deze niet?*/
    border: 2px solid red;
}

#chart {
    height: 250px;
    width: 550px;
    border: 1px solid red;
}

.bar {
  fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: white;
  color: black;
  border-radius: 1px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: steelblue;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}